html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: $fuente_body;
  line-height: 1.8rem;
  background-color: #f2f2f2;
}

p {
  color: $negro;
  font-size: 2rem;
}

img,
picture {
  max-width: 100%; //SIEMPRE
  display: block;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style: none;
  }
}

h1,
h2,
h3 {
  font-family: $fuente_title;
  margin: $separacion / 2 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
